<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791069964913-o211kjabvndbidol9fhcnh9k79hn3lf3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791069964913-o211kjabvndbidol9fhcnh9k79hn3lf3</string>
	<key>API_KEY</key>
	<string>AIzaSyBkGBLdMdl8zFq9GU8ExKaLO1iYQ7mp2Gg</string>
	<key>GCM_SENDER_ID</key>
	<string>791069964913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>google.sign.in.demo</string>
	<key>PROJECT_ID</key>
	<string>singindemo-84b7a</string>
	<key>STORAGE_BUCKET</key>
	<string>singindemo-84b7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791069964913:ios:dbefd1489ba6b768ddb9d0</string>
</dict>
</plist>